
@import url("styles/vars/style.css");
@import url("styles/normal.css");

/* VARS */
$black: #000000;
$white: #ffffff;

$body-color: $white;
$h1-color: $black;
$h2-color: $black;
$default-text-color: $black;

/* END VARS */

/* MIXINS */
@mixin base-flex($wrap, $horizontal, $vartical) 
{ 
    display: flex; 
    flex-wrap: $wrap;
    justify-content: $horizontal;
    align-items: $vartical;
}
@mixin decoration-none{
    list-style-type: none;
}
@mixin logo-style{
    height: 40px;
    width: 40px;
    background: $black;
    color: $white;
    margin: 18px;
    flex: unset;
    @include base-flex(
        wrap,
        center,
        center
    )
}
@mixin li-menu(){
    padding: 10px;
    flex: unset;
    color: $default-text-color;
    @include decoration-none()
}
@mixin default-link(){
    @include decoration-none();
    color: $default-text-color;
    text-decoration: none;
}
@mixin default-panel-item(){
    width: 10px;
    position: absolute;
    left: -5px;
    top: -10px;
}
@mixin default-btn {
    padding: 10px 20px;
    @include decoration-none();
    color: $default-text-color;
    text-decoration: none;
    border: 1px solid;
}

/* END MIXINS */

body{
    iframe{
        width: 100%;
        height: 300px;
    }
    background: $body-color;
    color: $default-text-color;
    .header-top {
        .control-panel{
            a{
                display: none;
                &.active{
                    display: block;
                }
            } 
        }
    }
    .overlay{
        display: none;
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        &.active{
            display: flex;
        }
        form{
            width: 50%;
            min-height: 400px;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .overlay__close{
                position: absolute;
                right: 0;
                top: 0;
                &::after{
                    content: '×';
                    display: flex;
                    height: 30px;
                    width: 30px;
                    border-radius: 30px;
                    background: red;
                    color: white;
                    justify-content: center;
                    align-items: center;
                    margin: 10px;
                }
            }
            .overlay__login{
                width: 100%;
                margin: 10px;
                height: 35px;
                width: 100%;
                border-radius: 3px;
            }
            .overlay__password{
                width: 100%;
                margin: 10px;
                height: 35px;
                width: 100%;
                border-radius: 3px;
            }
            input[type="submit"]{
                position: absolute;
                bottom: 30px;
                left: 45%;
                border: 1px solid #dbd7d7;
                background: none;
                font-size: 20px;
                color: #cfcccc;
                padding: 8px;
                pointer-events: none;
                &.active{
                    cursor: pointer;
                    pointer-events: auto;
                    color: #000;
                    border: 1px solid #000;
                }
            }
            .modal__error{
                color:red;
            }
        }
    }
    .header-top{
        hr{
           width: 100%;
        }
        .logo-container{
            flex: unset;
            .logo-container__logo-item{
                @include logo-style()
            }
        }
        nav{
            ul{
                li{
                    @include li-menu();
                    a{
                        @include default-link()
                    }
                }
                @include base-flex(
                    wrap,
                    center,
                    center
                );  
                justify-content: left;
            }
        }
        .header-top__control-panel{
            max-width: 15%;
            *{
                text-align: center;
            }
            a{
                @include default-link()
            }
            @include base-flex(
                    wrap,
                    center,
                    center
            );
            .control-panel__enter{
                position: relative;
                a::before{
                    content: url(img/male-user.svg);
                    @include default-panel-item();
                }
            }
            .control-panel__basket{
                position: relative;
                a{
                    &::before{
                        content: url(img/basket.svg);
                        @include default-panel-item();
                    }
                }
            }
        }
        *{
            flex: auto;
        }
        @include base-flex(
            wrap,
            center,
            center
        );
        .main-info{
            width: 100%;
            text-align: center;
            a{
                @include default-btn();
            }
        }
    }
}








